<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <h3>Edit a listing</h3>
    <form method="POST" action="/listings/<%= data._id %>?_method=PUT"> 
        <input value="<%= data.title %>" type="text" name="listing[title]" placeholder="Enter the title">
        <br><br>
        <textarea  type="listing[description]" name="description" placeholder="Enter the description"><%= data.description %></textarea>
        <br><br>
        <input value="<%= data.image %>" type="text" name="listing[image]" placeholder="Enter the image url/link">
        <br><br>
        <input value="<%= data.price %>" type="number" name="listing[price]" placeholder="Enter the price ">
        <br><br>
        <input value="<%= data.location %>" type="text" name="listing[location]" placeholder="Enter the location ">
        <br><br>
        <input value="<%= data.country %>" type="text" name="listing[country]" placeholder="Enter the country ">
        <button>Submit</button>
    </form>
</body>
</html>