<% layout('./layout/boilerplates') -%>
<link rel="stylesheet" href="./css/index.css">
<body>
  <p><%= success %></p>
  <h1>Listings</h1>
  <% if (allListing.length==0) { %>
    <h3 style="text-align: center; margin-top: 10rem;">Nothing is Listed</h3>
  <% } else{  %>
    <div class="allCards rows-cols-lg-3 rows-cols-md-2 rows-cols-sm-1">
      <% for(list of allListing){ %>
        <div class="card listing-card" >
            <a href="/listings/<%= list._id %>" class="mainA">
              <img src="<%= list.image %>" class="card-imgg card-img-top" alt="House Imge" />
              <!-- <div class="card-img-overlay"><b>See Photos</b></div> -->
              <div class="card-body">
              <p style="font-size: large;" class="card-title"><%= list.title %></p>
              <p class="card-price">Price : <%= Number(list.price).toLocaleString("en-IN") %>/Day</p>
              <!-- <p class="card-text"><%= list.description %></p> -->
              <!-- anchor tag will reflect to get request with the listed post id -->
              
              <!-- View -->
              <!-- <a href="/listings/<%= list._id %>" class="btn btn-primary">View</a> -->
              <!-- <a  href="/listings/<%= list._id %>/delete" class="btn btn-primary">Delete</a> -->
              <form method="get" action="/listings/<%= list._id %>/delete">
                <button >Delete</button>
            </form>
            </div>
          </a>
          </div>
          
        <% } %>
    </div>
  <% } %>
</body>
