<% layout('./layout/boilerplates') -%><body>
<link rel="stylesheet" href="./css/show.css">
<style>
    h3{
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
        text-decoration: underline;
        text-decoration-color: red;
    }
    .showCard{
        width: 40rem;
    }
    @media (max-width:762px) {
        .showCard{
            width: 20rem;
        }
    }
</style>
<body>
    <h3><%= list.title %></h3>
    <!-- <form method="GET" action="/listings/new">
        <button>Create new listing</button>
    </form> -->
    <div class="card listing-card showCard ">
        <img src="<%= list.image %>" class="card-img-top cardShow-img-top" alt="image">
        <div class="card-body">
            <h5 class="card-title"><b>Owned By:</b> <%= list.owner.username %></h5>
            <p class="card-text"><%= list.description %></p>
            <div>
                <p class="card-text"><b>Title:</b> <%= list.title %></p>
                <p class="card-text"><b>About:</b> <%= list.description %></p>
                <p class="card-text"><b>Price:</b> <span>&#8377;</span><%= Number(list.price).toLocaleString("en-IN") %></p>
                <p class="card-text"><b>Location:</b> <%= list.location %></p>
                <p class="card-text"><b>Country:</b> <%= list.country %></p>
            </div>
            <br>
            <!-- <a href="">Delete</a> -->
            <% if(currUser && currUser._id.equals(list.owner._id)){ %>
                <div style="display: flex; ">
                    <form style="margin-right: 2rem; margin-left: .2rem;" method="get" action="/listings/<%= list._id %>/edit">
                        <button class="btn btn-dark">Edit</button>
                    </form>
                    <br>
                    <form method="get" action="/listings/<%= list._id %>/delete">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
            <% } %>
        </div>
        <hr>
        <% if(!currUser){ %>
            <h4 class="cols-lg-4 offset-lg-4">Login For Add Review</h4>
        <% } %>
        <% if(currUser){ %>       
            <div class="mb-3 mt-3">
                <h4>Leave a Review</h4>
                <form method="POST" action="/listings/<%= list.id %>/review" novalidate class="needs-validation">
                    <div class="mt-3">
                        <legend class="form-label" for="rating">Rating</legend>
                        <fieldset class="starability-slot">
                            <!-- <legend>First rating:</legend> -->
                            <input type="radio" class="input-no-rate" value="1" name="review[rating]" id="rating" checked aria-label="No rating." />
                            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                            <label for="first-rate1" title="Terrible">1 star</label>
                            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                            <label for="first-rate2" title="Not good">2 stars</label>
                            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                            <label for="first-rate3" title="Average">3 stars</label>
                            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                            <label for="first-rate4" title="Very good">4 stars</label>
                            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                            <label for="first-rate5" title="Amazing">5 stars</label>
                        </fieldset>
                    </div>
                    <br>
                    <div class="mb-3">
                        <label class="form-label" for="comment">Comment</label>
                        <textarea required class="form-control" name="review[comment]" id="comment" cols="30" rows="5"></textarea>
                        <div class="valid-feedback">&#9989; </div>
                        <div class="invalid-feedback">Please Enter A Valid Feedback</div>
                    </div> 
                    <button class="btn btn-outline-dark">Submit</button>
                </form>
            </div> 
        <% }%>       
        <hr>
        <p><b>All Reviews</b></p>
        <div class="row">
            <% for(review of list.reviews) { %>
                <div class="card col-12 col-md-10 col-lg-5 ms-lg-4 mb-3">
                    <div class="card-body">
                        <b><p class="card-title">Posted By: <%= review.author.username %></p></b>
                        <% console.log(review.author.username); %>
                        <p class="starability-result" data-rating=<%= review.rating %>>Rated: 3 stars</p>
                        <p class="card-text"><%= review.comment %></p>
                        <!-- <p class="card-text" > <%= review.rating %> Stars</p> -->
                    </div>
                    <% if(currUser){ %>
                    <form class="mb-3" action="/listings/<%= list._id%>/review/<%= review._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-sm btn-dark" >Delete</button>
                    </form>
                    <% } %>
                </div>
            <% } %>
        </div>
      </div>
</body>